apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    run: docs
  name: docs
  namespace: docs
spec:
  revisionHistoryLimit: 3
  replicas: 2
  selector:
    matchLabels:
      run: docs
  template:
    metadata:
      labels:
        run: docs
    spec:
      containers:
        - name: docs
          image: ghcr.io/ninepiece2/docs:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          env:
            - name: NODE_ENV
              value: "production"

---
apiVersion: v1
kind: Service
metadata:
  name: docs-service
  namespace: docs
spec:
  selector:
    run: docs
  ports:
    - name: https
      protocol: TCP
      port: 80
      targetPort: 3000
      nodePort: 30011
  type: LoadBalancer

---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: docs-hpa
  namespace: docs
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: docs
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
