name: Prettier CI
on:
  pull_request:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/setup-node@v6
      - run: |
          npm ci
          npx prettier --write .

      - run: |
          if git diff --cached --name-only | grep -q '^\.github/'; then
            echo "Error: prettier attempted to modify files in .github directory"
            exit 1
          fi

      - run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git diff --cached --exit-code || git commit -m "chore: Apply Prettier format"

      - run: |
          git pull --rebase origin ${{ github.head_ref || github.ref_name }}
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            git push origin HEAD:refs/heads/${{ github.head_ref }}
          else
            git push origin HEAD:refs/heads/${{ github.ref_name }}
          fi
